@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1b26;
  --foreground: #dcd7ba;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Base styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--foreground);
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* Custom utilities */
.text-primary {
  color: var(--foreground);
}

.bg-primary {
  background-color: var(--background);
}

/* Remove all animation keyframes */